{% extends 'layout.html' %}
{% block content %}
{% include 'nav.html' %}
{% include '_messages.html' %}
<div class="container">
    <div class="row">
        {% if brand %}
            {% for b in brand.items  %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="{{url_for('static',filename='images/' + b.image_1)}}" alt="{{b.name}}" class="card-img-top" height="200" width="200">
                    <div class="card-body">
                        <h5 class="text-center">{{b.name}}</h5>
                        <p class="text-center">Price ${{b.price}}</p>
                        {% if b.discount > 0 %}
                        <h5 class="text-center" style="color:red">{{b.discount}}% Off!!</h5>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <a href="{{url_for('single_page', id=b.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                        <form action="{{url_for('AddCart')}}" method="post">
                            <input type="hidden" name="product_id" value="{{b.id}}">
                            <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
                            <input type="hidden" name="quantity" value="1" min="1" max="20">
                            {% set colors = b.color.split(',') %}
                            <select name="colors" id="colors" style="visibility: hidden;">
                                {% for color in colors %}
                                {% set col = color.split(':') %}
                                <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                {% if brand.has_prev %}
                    <a href="{{url_for('getbrand', id=get_b.id, page=brand.prev_num)}}"class="btn btn-sm btn-outline-info">Previous</a>
                {% endif %}
                {% if brand.total> 8 %}
                    {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
                    {% if page_num %}
                        {% if brand.page == page_num %}
                            <a href="{{url_for('getbrand', id=get_b.id, page=page_num)}}" class="btn btn-sm btn-info">{{page_num}}</a>
                        {% else %}
                            <a href="{{url_for('getbrand', id=get_b.id, page=page_num)}}" class="btn btn-sm btn-outline-info">{{page_num}}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                    {% endfor %}
                {% endif %}
                {% if brand.has_next %}
                    <a href="{{url_for('getbrand', id=get_b.id, page=brand.next_num)}}"class="btn btn-sm btn-outline-info">Next</a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
        {% elif get_cat %}
            {% for c in get_cat.items %}
            
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <img src="{{url_for('static',filename='images/' + c.image_1)}}" alt="{{c.name}}" class="card-img-top" height="200" width="200">
                        <div class="card-body">
                            <h5 class="text-center">{{c.name}}</h5>
                            <p class="text-center">Price ${{c.price}}</p>
                            {% if c.discount > 0 %}
                            <h5 class="text-center" style="color:red">{{c.discount}}% Off!!</h5>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <a href="{{url_for('single_page', id=c.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                            <form action="{{url_for('AddCart')}}" method="post">
                                <input type="hidden" name="product_id" value="{{c.id}}">
                                <button type="submit" class="btn btn-sm btn-warning float-right">Add to Cart</button>
                                <input type="hidden" name="quantity" value="1" min="1" max="20">
                                {% set colors = c.color.split(',') %}
                                <select name="colors" id="colors" style="visibility: hidden;">
                                    {% for color in colors %}
                                    {% set col = color.split(':') %}
                                    <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row mt-4">
            <div class="col text-center">
                {% if get_cat.has_prev %}
                    <a href="{{url_for('getcat', id=cat.id, page=get_cat.prev_num)}}"class="btn btn-sm btn-outline-info">Previous</a>
                {% endif %}
                {% if get_cat.total> 8 %}
                    {% for page_num in get_cat.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
                    {% if page_num %}
                        {% if get_cat.page == page_num %}
                            <a href="{{url_for('getcat', id=cat.id, page=page_num)}}" class="btn btn-sm btn-info">{{page_num}}</a>
                        {% else %}
                            <a href="{{url_for('getcat', id=cat.id, page=page_num)}}" class="btn btn-sm btn-outline-info">{{page_num}}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                    {% endfor %}
                {% endif %}
                {% if get_cat.has_next %}
                    <a href="{{url_for('getcat', id=cat.id, page=get_cat.next_num)}}"class="btn btn-sm btn-outline-info">Next</a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
        {% else %}
        {% for product in products.items  %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200" width="200">
                    <div class="card-body">
                        <h5 class="text-center">{{product.name}}</h5>
                        <p class="text-center">Price ${{product.price}}</p>
                        {% if product.discount > 0 %}
                        <h5 class="text-center" style="color:red">{{product.discount}}% Off!!</h5>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <a href="{{url_for('single_page', id=product.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                        <form action="{{url_for('AddCart')}}" method="post">
                            <input type="hidden" name="product_id" value="{{product.id}}">
                            <button type="submit" class="btn btn-sm btn-warning">Add to Cart</button>
                            <input type="hidden" name="quantity" value="1" min="1" max="20">
                            {% set colors = product.color.split(',') %}
                            <select name="colors" id="colors" style="visibility: hidden;">
                                {% for color in colors %}
                                {% set col = color.split(':') %}
                                <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                {% if products.has_prev %}
                    <a href="{{url_for('home', page=products.prev_num)}}"class="btn btn-sm btn-outline-info">Previous</a>
                {% endif %}
                {% if products.total> 8 %}
                    {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
                    {% if page_num %}
                        {% if products.page == page_num %}
                            <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-info">{{page_num}}</a>
                        {% else %}
                            <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-outline-info">{{page_num}}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                    {% endfor %}
                {% endif %}
                {% if products.has_next %}
                    <a href="{{url_for('home', page=products.next_num)}}"class="btn btn-sm btn-outline-info">Next</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}