<div class="topnav" id="myTopnav">
    <a href="{{url_for('home')}}" class="active">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <div class="dropdown_">
        <button class="dropbtn">Brands 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for brand in brands  %}
            <a href="{{url_for('getbrand', id=brand.id)}}">{{brand.name}} </a>
            {% endfor %}
            <a href="{{url_for('brands')}}">All</a>
        </div>
    </div> 
    <div class="dropdown_">
        <button class="dropbtn">Categories 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for category in categories  %}
            <a href="{{url_for('getcat', id=category.id )}}">{{category.name}} </a>
            {% endfor %}
            <a href="{{url_for('category')}}">All</a>
        </div>
    </div> 
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('customer_logout') }}">Logout</a>
    {% else %}
    <a href="{{ url_for('customerLogin') }}">Login</a>
    {% endif %}
    <a href="{{url_for('getCart')}}" class="nav-link"> Cart ({{ session['Shoppingcart']|length }}) </a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    <form class="" action="{{url_for('result')}}">
        <input class="" type="search" placeholder="Search..." name="q">
    </form>
</div>